* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #2F2E41;
    font-family: 'Open Sans', sans-serif;

    min-height: 100vh;
}

/* Header */
nav {
    margin: 70px 100px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    gap: 64px;
    list-style: none;
    font-family: 'JetBrains Mono', monospace;
}

ul li a {
    color: #FFFFFF;
    text-decoration: none;
}

/* Main */
main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 94px 157px;
}

h1 {
    font-family: 'JetBrains Mono', monospace;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
    text-align: center;

    margin-bottom: 59px;
}

span {
    color: #00BFA6;
}

p {
    width: 600px;

    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #C2C2C2;
}

/* Footer */
.line {
    margin: 0 auto 27px;
    width: 568px;
    border: 1px solid #00BFA6;
}

footer {
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
}

footer a {
    color: #FFFFFF;
    text-decoration: none;
}

#cadeado {
    position: fixed;
    left: 20px;
    bottom: 20px;
}